__pycache__/
build/

.vscode/
*.code-workspace
*.spyproject

**/OutputResult/*
Mathematica/DRalgoOutput
Testing
Results
src/Benchmarks/**
src/Bloop/Veff/**

*.swp
*.png
*.pstats
**/*.json
*.egg-info/
*.pyc
