__pycache__/
build/
*.pyc
*.egg-info/

.vscode/
*.code-workspace

**/OutputResult/*
Mathematica/DRalgoOutput
Testing
Results
*.spyproject
*.swp
*.png
*.pstats

src/Benchmarks/**
src/Bloop/Veff/**
**/*.json

